.park {
  position: relative;
  margin-bottom: 60px;

  @media(min-width: 1024px) {
    margin-bottom: 120px;
  }

  .container {
    &::before {
      content: url("../img/icons/park-before-mobile.svg");
      position: absolute;
      top: -195px;
      right: 0;
      z-index: -2;

      @media(min-width: 1024px) {
        content: url("../img/icons/park-before-desktop.svg");
      }
    }

    &::after {
      content: url("../img/icons/park-after-mobile.svg");
      position: absolute;
      bottom: -60px;
      left: 0;
      z-index: -2;

      @media(min-width: 1024px) {
        content: url("../img/icons/park-after-desktop.svg");
      }
    }
  }


  &__title {
    margin-top: 24px;
    margin-bottom: 24px;

    text-align: center;

    @media(min-width: 1024px) {
      margin-top: 80px;
      margin-bottom: 32px;
    }
  }
  &__columns {
    @media(min-width: 1024px) {
      display: flex;
      justify-content: space-between;
    }
  }
  &__item {
    position: relative;

    @media(min-width: 430px) {
      margin-left: calc(50% - 200px);
    }

    @media(min-width: 768px) {
      margin-left: 0;
    }

    &--first {
      margin-bottom: 24px;

      @media(min-width: 1024px) {
        margin-bottom: 0;
      }
    }
  }
  &__text-block {
    position: absolute;
    z-index: 2;

    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
    padding-left: 10px;

    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

    @media(min-width: 1024px) {
      top: 60px;
      left: -5%;

      display: block;
      width: 263px;
      padding-top: 20px;
      padding-bottom: 25px;
      padding-left: 18px;
    }

    @media(min-width: 1368px) {
      left: -85px;
    }
  }
  &__table {
    width: 100%;
    margin-bottom: 16px;

    @media(min-width: 1024px) {
      margin-bottom: 24px;
    }
  }
  &__subtitle {
    margin-top: 0;
    margin-bottom: 16px;

    font-weight: 500;
    font-size: 16px;
    text-align: left;

    @media(min-width: 1024px) {
      margin-bottom: 24px;

      font-size: 18px;
    }
  }
  &__characteristic {
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 8px;

    font-size: 16px;

    @media(min-width: 768px) {
      display: flex;
    }

    @media(min-width: 1024px) {
      margin-bottom: 6px;
    }
  }
  &__key {
    display: block;

    font-weight: 400;
    font-size: 14px;
    text-align: left;
    color: #bdbdbd;

    @media(min-width: 768px) {
      display: flex;
    }

    @media(min-width: 1024px) {
      font-size: 16px;
    }
  }
  &__value {
    font-weight: 600;
  }
  &__link {
    position: relative;

    padding-right: 23px;

    font-weight: 500;
    font-size: 14px;
    color: #000000;
    text-decoration: none;
    transition-duration: 0.3s;

&::after {
      content: url("../img/icons/park-link-after-mobile.svg");
      position: absolute;
      top: 0;
      right: 0;

      @media(min-width: 1024px) {
        content: url("../img/icons/park-link-after.svg");
      }
    }

    &:hover {
      color: $accent;

      transition-duration: 0.3s;

      &::after {
        content: url("../img/icons/park-link-after-mobile-active.svg");

        @media(min-width: 1024px) {
        	content: url("../img/icons/park-link-after-active.svg");
        }
      }
    }




    @media(min-width: 1024px) {
      padding-right: 29px;

      font-weight: 600;
      font-size: 16px;

  }
}
  &__img {
    width: auto;
    height: 290px;

    border-radius: 20px;

    object-fit: cover;

    @media(min-width: 768px) {
      width: 100%;
      height: auto;
    }

    @media(min-width: 1024px) {
      width: auto;
    }
  }

  &__img {
  	&-wrapper {
  		@media(min-width: 1024px) {
  			transition: 0.3s;
  		position: relative;

  		&:hover {
  			&::after {
  				position: absolute;
  				top: calc(50% - 16px);
  				left: calc(75%);
  				width: 32px;
  				height: 32px;
  				content: url('../img/icons/park-search.svg');

  				@media(min-width: 1368px) {
  					left: calc(50% - 16px);
  				}
  			}

  		.park__img {
  			transition: 0.3s;
  			filter: brightness(0.5);
  		}
  	}
  		}
  	}
  }
}
