.prices-questions {
	position: relative;
	margin-bottom: 40px;

	@media(min-width: 1024px) {
		margin-bottom: 80px;
	}

	&::after {
			content: url('../img/icons/prices-promo-form-before-mobile.svg');
			position: absolute;
			right: 0;
			bottom: -130px;

			@media(min-width: 1024px) {
				content: url('../img/icons/prices-promo-form-before-desktop.svg');
				bottom: -210px;
				width: 215px;
				height: 173px;
			}
		}

	.container {


		@media(min-width: 1024px) {
			display: flex;
		}

		&--nb {
			@media(max-width: 1024px) {
				padding-right: 0;
				padding-left: 0;
			}
		}
	}


	&__description {
		margin-top: 0;
		margin-bottom: 25px;

		@media(min-width: 1024px) {
			max-width: 420px;
			margin-bottom: 0;
		}
	}
	&__columns {
		padding: 24px 16px;
		background: #FAEECC;
		border-radius: 50px 0px 0px 0px;


		@media(min-width: 1024px) {
			display: grid;
			grid-template-columns: 1fr 300px;
			padding-top: 37px;
			padding-bottom: 37px;
			padding-left: 65px;
			background: url('../img/icons/prices-questions-bg-desktop.svg');
			background-repeat: no-repeat;
			background-size: cover;
			gap: 10px;

			&::after {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				z-index: -2;
				width: 50%;
				height: 100%;
				background: #FAEECC;
			}
		}
	}
	&__column {
	}
	&__title {
		margin-top: 0;
		margin-bottom: 18px;
		font-size: 24px;
		text-align: center;
		color: #000;

		@media(min-width: 1024px) {
			margin-bottom: 24px;
			font-size: 32px;
			text-align: left;
		}
	}

.prices-question {
	&__text {
		margin-top: 0;
		margin-bottom: 32px;
		font-size: 16px;
		text-align: center;
		color: #333333;

		@media(min-width: 1024px) {
			margin-bottom: 0;
			text-align: left;
		}
	}
}
.consultation {
	max-width: 50%;
	&__phone-wrapper {
	}
	&__phone {
		@media(min-width: 1024px) {
			margin-bottom: 18px;
		}
	}
	&__button {
		padding-right: 0;
		padding-left: 0;
	}
}
.tel {
}
.form {
	&__control {
	}
	&__input {
	}
}
}


.is-invalid {
    color: rgb(184, 17, 17);

    border: 1px solid rgb(184, 17, 17);

    &::placeholder {
      color: rgb(184, 17, 17);
    }
  }
