.prices-table {
	position: relative;
	margin-bottom: 40px;

	@media(min-width: 1024px) {
		margin-bottom: 80px;
	}

.container {
	@media(min-width: 1400px) {
		position: relative;
	}

	@media(min-width: 1024px) {
		&::after {
			content: url('../img/icons/prices-table-after-desktop.svg');
			position: absolute;
			top: 150px;
			right: 0;

			@media(min-width: 1400px) {
				right: -75px;
			}
		}
	}

	@media(max-width: 1024px) {
		padding: 0;
	}
}

	&__table {
		width: 100%;

		@media(min-width: 1024px) {
			width: calc(100% - 200px);
			margin-right: 100px;
			margin-left: 100px;
		}
	}

	&__string {
		display: grid;
		align-items: center;
		grid-template-columns: 1fr 1fr 1fr;
		padding: 16px;
		border-radius: 10px;
		justify-items: center;

		@media(min-width: 1024px) {
			grid-template-columns: 1fr 180px 1fr;
			padding-top: 24px;
			padding-right: 117.5px;
			padding-bottom: 24px;
			padding-left: 117.5px;
		}

		&--green {
			background: #EDF7EC;
		}
	}
	&__key {
		justify-self: baseline;
		margin-top: 0;
		margin-bottom: 0;
		font-weight: 500;
		font-size: 16px;
		color: #000;

		@media(min-width: 1024px) {
			font-size: 18px;
		}
	}
	&__value {
		margin-top: 0;
		margin-bottom: 0;
		font-weight: 700;
		font-size: 18px;
		color: $accent;

		@media(min-width: 1024px) {
			font-size: 22px;
		}
	}
	&__button {
		width: max-content;
		padding: 9.5px 15.5px;
		font-weight: 400;
		font-size: 16px;
		background: transparent;
		border: 1px solid $accent;
		border-radius: 5px;
		transition-duration: 0.3s;

		@media(min-width: 1024px) {
			padding: 10px 43.5px;
			font-size: 18px;
		}

		&:hover {
		border: 1px solid rgba(76, 170, 60, .6);
		box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
		transition-duration: 0.3s;
	}

	&:active {
		box-shadow: none;
		transition-duration: 0.3s;
	}
	}
}
