.prices-promo {
	position: relative;
	margin-top: 35px;
	margin-bottom: 35px;

	@media(min-width: 1024px) {
		margin-top: 24px;
		margin-bottom: 60px;
	}


	.container {

		@media(max-width: 1024px) {
			position: relative;
		}

		@media(min-width: 1400px) {
			position: relative;
		}

		@media(min-width: 1024px) {
			display: flex;
		justify-content: space-between;
		align-items: center;
		}

		&::after {
			content: url('../img/icons/prices-promo-after-mobile.svg');
			position: absolute;
			right: 0;
			bottom: -59px;

			@media(min-width: 1024px) {
				content: url('../img/icons/prices-promo-after-desktop.svg');
				top: 230px;
				left: 0px;
			}

			@media(min-width: 1400px) {
			left: -75px;
		}
		}
	}

	&__text {
		@media(min-width: 1024px) {
			max-width: 630px;
		}

	}


	&__title {
		margin-top: 0;
		margin-bottom: 24px;
		font-size: 24px;

		@media(min-width: 1024px) {
			font-size: 56px;
		}
	}
	&__description {
		margin-top: 0;
		margin-bottom: 32px;

		@media(min-width: 1024px) {
			margin-bottom: 0;
		}
	}
	&__img {
		width: 100%;
		height: auto;

		@media(min-width: 768px) {
			width: 75%;
			margin-left: 12.5%;
		}

		@media(min-width: 1024px) {

		}
	}

	&-form {
		&__text {
			margin-top: 0;
			margin-bottom: 32px;
			font-weight: 600;
			font-size: 16px;
			color: #000;

			@media(min-width: 1024px) {
				font-weight: 500;
				font-size: 32px;
			}
		}
	}

}
