.product
{
	margin-bottom: 40px;

	@media(min-width: 1024px)
	{
		margin-top: -375px;
		margin-bottom: 45px;
	}

	.container
	{

		position: relative;

		@media(min-width: 1024px)
		{
			display: grid;

			grid-template-columns: 1fr 1fr 1fr;
			grid-template-rows: 1fr;
			gap: 30px;

			&::after
			{
				position: absolute;
				right: -85px;
				bottom: -240px;

				width: 333px;
				height: 444px;

				content: url('../img/icons/rhombus-dark-desktop.svg');
			}
		}
	}

	&__wrapper {
		@media(max-width: 1024px) {
			position: relative;

			&::after {
				content: '';
				background-image: url("data:image/svg+xml,%3Csvg width='105' height='240' viewBox='0 0 105 240' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.3' clip-path='url(%23clip0_501_10374)'%3E%3Cpath d='M92.0052 212.921C93.119 212.921 94.022 212.019 94.022 210.906C94.022 209.794 93.119 208.892 92.0052 208.892C90.8913 208.892 89.9883 209.794 89.9883 210.906C89.9883 212.019 90.8913 212.921 92.0052 212.921Z' fill='%234AAB3C'/%3E%3Cpath d='M102.001 212.92C103.115 212.92 104.018 212.018 104.018 210.906C104.018 209.793 103.115 208.891 102.001 208.891C100.887 208.891 99.9844 209.793 99.9844 210.906C99.9844 212.018 100.887 212.92 102.001 212.92Z' fill='%234AAB3C'/%3E%3Cpath d='M102.001 222.908C103.115 222.908 104.018 222.006 104.018 220.893C104.018 219.781 103.115 218.879 102.001 218.879C100.887 218.879 99.9844 219.781 99.9844 220.893C99.9844 222.006 100.887 222.908 102.001 222.908Z' fill='%234AAB3C'/%3E%3Cpath d='M82.0052 202.934C83.119 202.934 84.022 202.033 84.022 200.92C84.022 199.807 83.119 198.906 82.0052 198.906C80.8913 198.906 79.9883 199.807 79.9883 200.92C79.9883 202.033 80.8913 202.934 82.0052 202.934Z' fill='%234AAB3C'/%3E%3Cpath d='M72.0052 192.947C73.119 192.947 74.022 192.045 74.022 190.932C74.022 189.82 73.119 188.918 72.0052 188.918C70.8913 188.918 69.9883 189.82 69.9883 190.932C69.9883 192.045 70.8913 192.947 72.0052 192.947Z' fill='%234AAB3C'/%3E%3Cpath d='M92.0052 202.934C93.119 202.934 94.022 202.032 94.022 200.919C94.022 199.807 93.119 198.905 92.0052 198.905C90.8913 198.905 89.9883 199.807 89.9883 200.919C89.9883 202.032 90.8913 202.934 92.0052 202.934Z' fill='%234AAB3C'/%3E%3Cpath d='M102.001 202.933C103.115 202.933 104.018 202.031 104.018 200.919C104.018 199.806 103.115 198.904 102.001 198.904C100.887 198.904 99.9844 199.806 99.9844 200.919C99.9844 202.031 100.887 202.933 102.001 202.933Z' fill='%234AAB3C'/%3E%3Cpath d='M82.0052 192.947C83.119 192.947 84.022 192.046 84.022 190.933C84.022 189.82 83.119 188.918 82.0052 188.918C80.8913 188.918 79.9883 189.82 79.9883 190.933C79.9883 192.046 80.8913 192.947 82.0052 192.947Z' fill='%234AAB3C'/%3E%3Cpath d='M92.0052 192.947C93.119 192.947 94.022 192.046 94.022 190.933C94.022 189.82 93.119 188.918 92.0052 188.918C90.8913 188.918 89.9883 189.82 89.9883 190.933C89.9883 192.046 90.8913 192.947 92.0052 192.947Z' fill='%234AAB3C'/%3E%3Cpath d='M102.001 192.947C103.115 192.947 104.018 192.045 104.018 190.932C104.018 189.82 103.115 188.918 102.001 188.918C100.887 188.918 99.9844 189.82 99.9844 190.932C99.9844 192.045 100.887 192.947 102.001 192.947Z' fill='%234AAB3C'/%3E%3Cpath d='M82.0012 182.96C83.1151 182.96 84.0181 182.058 84.0181 180.946C84.0181 179.833 83.1151 178.931 82.0012 178.931C80.8874 178.931 79.9844 179.833 79.9844 180.946C79.9844 182.058 80.8874 182.96 82.0012 182.96Z' fill='%234AAB3C'/%3E%3Cpath d='M92.0052 182.96C93.119 182.96 94.022 182.058 94.022 180.946C94.022 179.833 93.119 178.931 92.0052 178.931C90.8913 178.931 89.9883 179.833 89.9883 180.946C89.9883 182.058 90.8913 182.96 92.0052 182.96Z' fill='%234AAB3C'/%3E%3Cpath d='M62.0091 182.96C63.1229 182.96 64.0259 182.058 64.0259 180.946C64.0259 179.833 63.1229 178.931 62.0091 178.931C60.8952 178.931 59.9922 179.833 59.9922 180.946C59.9922 182.058 60.8952 182.96 62.0091 182.96Z' fill='%234AAB3C'/%3E%3Cpath d='M72.0052 182.96C73.119 182.96 74.022 182.058 74.022 180.946C74.022 179.833 73.119 178.931 72.0052 178.931C70.8913 178.931 69.9883 179.833 69.9883 180.946C69.9883 182.058 70.8913 182.96 72.0052 182.96Z' fill='%234AAB3C'/%3E%3Cpath d='M102.001 182.96C103.115 182.96 104.018 182.058 104.018 180.946C104.018 179.833 103.115 178.931 102.001 178.931C100.887 178.931 99.9844 179.833 99.9844 180.946C99.9844 182.058 100.887 182.96 102.001 182.96Z' fill='%234AAB3C'/%3E%3Cpath d='M92.0052 172.973C93.119 172.973 94.022 172.072 94.022 170.959C94.022 169.846 93.119 168.944 92.0052 168.944C90.8913 168.944 89.9883 169.846 89.9883 170.959C89.9883 172.072 90.8913 172.973 92.0052 172.973Z' fill='%234AAB3C'/%3E%3Cpath d='M102.001 172.973C103.115 172.973 104.018 172.072 104.018 170.959C104.018 169.846 103.115 168.944 102.001 168.944C100.887 168.944 99.9844 169.846 99.9844 170.959C99.9844 172.072 100.887 172.973 102.001 172.973Z' fill='%234AAB3C'/%3E%3Cpath d='M72.0052 172.973C73.119 172.973 74.022 172.072 74.022 170.959C74.022 169.846 73.119 168.944 72.0052 168.944C70.8913 168.944 69.9883 169.846 69.9883 170.959C69.9883 172.072 70.8913 172.973 72.0052 172.973Z' fill='%234AAB3C'/%3E%3Cpath d='M82.0052 172.973C83.119 172.973 84.022 172.071 84.022 170.959C84.022 169.846 83.119 168.944 82.0052 168.944C80.8913 168.944 79.9883 169.846 79.9883 170.959C79.9883 172.071 80.8913 172.973 82.0052 172.973Z' fill='%234AAB3C'/%3E%3Cpath d='M52.0091 172.973C53.1229 172.973 54.0259 172.072 54.0259 170.959C54.0259 169.846 53.1229 168.944 52.0091 168.944C50.8952 168.944 49.9922 169.846 49.9922 170.959C49.9922 172.072 50.8952 172.973 52.0091 172.973Z' fill='%234AAB3C'/%3E%3Cpath d='M62.0091 172.973C63.1229 172.973 64.0259 172.071 64.0259 170.959C64.0259 169.846 63.1229 168.944 62.0091 168.944C60.8952 168.944 59.9922 169.846 59.9922 170.959C59.9922 172.071 60.8952 172.973 62.0091 172.973Z' fill='%234AAB3C'/%3E%3Cpath d='M102.001 162.987C103.115 162.987 104.018 162.085 104.018 160.972C104.018 159.86 103.115 158.958 102.001 158.958C100.887 158.958 99.9844 159.86 99.9844 160.972C99.9844 162.085 100.887 162.987 102.001 162.987Z' fill='%234AAB3C'/%3E%3Cpath d='M82.0052 162.986C83.119 162.986 84.022 162.084 84.022 160.972C84.022 159.859 83.119 158.957 82.0052 158.957C80.8913 158.957 79.9883 159.859 79.9883 160.972C79.9883 162.084 80.8913 162.986 82.0052 162.986Z' fill='%234AAB3C'/%3E%3Cpath d='M92.0052 162.986C93.119 162.986 94.022 162.084 94.022 160.972C94.022 159.859 93.119 158.957 92.0052 158.957C90.8913 158.957 89.9883 159.859 89.9883 160.972C89.9883 162.084 90.8913 162.986 92.0052 162.986Z' fill='%234AAB3C'/%3E%3Cpath d='M62.0091 162.986C63.1229 162.986 64.0259 162.084 64.0259 160.972C64.0259 159.859 63.1229 158.957 62.0091 158.957C60.8952 158.957 59.9922 159.859 59.9922 160.972C59.9922 162.084 60.8952 162.986 62.0091 162.986Z' fill='%234AAB3C'/%3E%3Cpath d='M72.0052 162.987C73.119 162.987 74.022 162.085 74.022 160.972C74.022 159.86 73.119 158.958 72.0052 158.958C70.8913 158.958 69.9883 159.86 69.9883 160.972C69.9883 162.085 70.8913 162.987 72.0052 162.987Z' fill='%234AAB3C'/%3E%3Cpath d='M42.0091 162.986C43.1229 162.986 44.0259 162.084 44.0259 160.972C44.0259 159.859 43.1229 158.957 42.0091 158.957C40.8952 158.957 39.9922 159.859 39.9922 160.972C39.9922 162.084 40.8952 162.986 42.0091 162.986Z' fill='%234AAB3C'/%3E%3Cpath d='M52.0091 162.987C53.1229 162.987 54.0259 162.085 54.0259 160.972C54.0259 159.86 53.1229 158.958 52.0091 158.958C50.8952 158.958 49.9922 159.86 49.9922 160.972C49.9922 162.085 50.8952 162.987 52.0091 162.987Z' fill='%234AAB3C'/%3E%3Cpath d='M92.0052 153C93.119 153 94.022 152.098 94.022 150.985C94.022 149.873 93.119 148.971 92.0052 148.971C90.8913 148.971 89.9883 149.873 89.9883 150.985C89.9883 152.098 90.8913 153 92.0052 153Z' fill='%234AAB3C'/%3E%3Cpath d='M102.001 152.999C103.115 152.999 104.018 152.097 104.018 150.985C104.018 149.872 103.115 148.97 102.001 148.97C100.887 148.97 99.9844 149.872 99.9844 150.985C99.9844 152.097 100.887 152.999 102.001 152.999Z' fill='%234AAB3C'/%3E%3Cpath d='M72.0052 153C73.119 153 74.022 152.098 74.022 150.986C74.022 149.873 73.119 148.971 72.0052 148.971C70.8913 148.971 69.9883 149.873 69.9883 150.986C69.9883 152.098 70.8913 153 72.0052 153Z' fill='%234AAB3C'/%3E%3Cpath d='M82.0052 153C83.119 153 84.022 152.098 84.022 150.985C84.022 149.873 83.119 148.971 82.0052 148.971C80.8913 148.971 79.9883 149.873 79.9883 150.985C79.9883 152.098 80.8913 153 82.0052 153Z' fill='%234AAB3C'/%3E%3Cpath d='M52.0091 153C53.1229 153 54.0259 152.098 54.0259 150.985C54.0259 149.873 53.1229 148.971 52.0091 148.971C50.8952 148.971 49.9922 149.873 49.9922 150.985C49.9922 152.098 50.8952 153 52.0091 153Z' fill='%234AAB3C'/%3E%3Cpath d='M62.0091 153C63.1229 153 64.0259 152.098 64.0259 150.985C64.0259 149.873 63.1229 148.971 62.0091 148.971C60.8952 148.971 59.9922 149.873 59.9922 150.985C59.9922 152.098 60.8952 153 62.0091 153Z' fill='%234AAB3C'/%3E%3Cpath d='M32.013 153C33.1268 153 34.0298 152.098 34.0298 150.985C34.0298 149.873 33.1268 148.971 32.013 148.971C30.8991 148.971 29.9961 149.873 29.9961 150.985C29.9961 152.098 30.8991 153 32.013 153Z' fill='%234AAB3C'/%3E%3Cpath d='M42.0091 153C43.1229 153 44.0259 152.098 44.0259 150.985C44.0259 149.873 43.1229 148.971 42.0091 148.971C40.8952 148.971 39.9922 149.873 39.9922 150.985C39.9922 152.098 40.8952 153 42.0091 153Z' fill='%234AAB3C'/%3E%3Cpath d='M92.0052 143.013C93.119 143.013 94.022 142.111 94.022 140.998C94.022 139.886 93.119 138.984 92.0052 138.984C90.8913 138.984 89.9883 139.886 89.9883 140.998C89.9883 142.111 90.8913 143.013 92.0052 143.013Z' fill='%234AAB3C'/%3E%3Cpath d='M102.001 143.013C103.115 143.013 104.018 142.111 104.018 140.998C104.018 139.886 103.115 138.984 102.001 138.984C100.887 138.984 99.9844 139.886 99.9844 140.998C99.9844 142.111 100.887 143.013 102.001 143.013Z' fill='%234AAB3C'/%3E%3Cpath d='M72.0052 143.013C73.119 143.013 74.022 142.111 74.022 140.998C74.022 139.886 73.119 138.984 72.0052 138.984C70.8913 138.984 69.9883 139.886 69.9883 140.998C69.9883 142.111 70.8913 143.013 72.0052 143.013Z' fill='%234AAB3C'/%3E%3Cpath d='M82.0052 143.013C83.119 143.013 84.022 142.111 84.022 140.998C84.022 139.886 83.119 138.984 82.0052 138.984C80.8913 138.984 79.9883 139.886 79.9883 140.998C79.9883 142.111 80.8913 143.013 82.0052 143.013Z' fill='%234AAB3C'/%3E%3Cpath d='M52.0091 143.013C53.1229 143.013 54.0259 142.111 54.0259 140.998C54.0259 139.886 53.1229 138.984 52.0091 138.984C50.8952 138.984 49.9922 139.886 49.9922 140.998C49.9922 142.111 50.8952 143.013 52.0091 143.013Z' fill='%234AAB3C'/%3E%3Cpath d='M62.0091 143.013C63.1229 143.013 64.0259 142.111 64.0259 140.998C64.0259 139.886 63.1229 138.984 62.0091 138.984C60.8952 138.984 59.9922 139.886 59.9922 140.998C59.9922 142.111 60.8952 143.013 62.0091 143.013Z' fill='%234AAB3C'/%3E%3Cpath d='M32.013 143.013C33.1268 143.013 34.0298 142.111 34.0298 140.998C34.0298 139.886 33.1268 138.984 32.013 138.984C30.8991 138.984 29.9961 139.886 29.9961 140.998C29.9961 142.111 30.8991 143.013 32.013 143.013Z' fill='%234AAB3C'/%3E%3Cpath d='M22.013 143.013C23.1268 143.013 24.0298 142.111 24.0298 140.998C24.0298 139.886 23.1268 138.984 22.013 138.984C20.8991 138.984 19.9961 139.886 19.9961 140.998C19.9961 142.111 20.8991 143.013 22.013 143.013Z' fill='%234AAB3C'/%3E%3Cpath d='M22.013 133.026C23.1268 133.026 24.0298 132.124 24.0298 131.011C24.0298 129.899 23.1268 128.997 22.013 128.997C20.8991 128.997 19.9961 129.899 19.9961 131.011C19.9961 132.124 20.8991 133.026 22.013 133.026Z' fill='%234AAB3C'/%3E%3Cpath d='M12.0169 133.026C13.1308 133.026 14.0337 132.124 14.0337 131.011C14.0337 129.899 13.1308 128.997 12.0169 128.997C10.903 128.997 10 129.899 10 131.011C10 132.124 10.903 133.026 12.0169 133.026Z' fill='%234AAB3C'/%3E%3Cpath d='M22.013 123.039C23.1268 123.039 24.0298 122.137 24.0298 121.024C24.0298 119.912 23.1268 119.01 22.013 119.01C20.8991 119.01 19.9961 119.912 19.9961 121.024C19.9961 122.137 20.8991 123.039 22.013 123.039Z' fill='%234AAB3C'/%3E%3Cpath d='M12.0169 123.039C13.1308 123.039 14.0337 122.137 14.0337 121.025C14.0337 119.912 13.1308 119.01 12.0169 119.01C10.903 119.01 10 119.912 10 121.025C10 122.137 10.903 123.039 12.0169 123.039Z' fill='%234AAB3C'/%3E%3Cpath d='M2.01687 123.039C3.13075 123.039 4.03373 122.137 4.03373 121.025C4.03373 119.912 3.13075 119.01 2.01687 119.01C0.902982 119.01 0 119.912 0 121.025C0 122.137 0.902982 123.039 2.01687 123.039Z' fill='%234AAB3C'/%3E%3Cpath d='M42.0091 143.013C43.1229 143.013 44.0259 142.111 44.0259 140.998C44.0259 139.886 43.1229 138.984 42.0091 138.984C40.8952 138.984 39.9922 139.886 39.9922 140.998C39.9922 142.111 40.8952 143.013 42.0091 143.013Z' fill='%234AAB3C'/%3E%3Cpath d='M92.0052 133.026C93.119 133.026 94.022 132.124 94.022 131.011C94.022 129.899 93.119 128.997 92.0052 128.997C90.8913 128.997 89.9883 129.899 89.9883 131.011C89.9883 132.124 90.8913 133.026 92.0052 133.026Z' fill='%234AAB3C'/%3E%3Cpath d='M102.001 133.026C103.115 133.026 104.018 132.124 104.018 131.011C104.018 129.899 103.115 128.997 102.001 128.997C100.887 128.997 99.9844 129.899 99.9844 131.011C99.9844 132.124 100.887 133.026 102.001 133.026Z' fill='%234AAB3C'/%3E%3Cpath d='M72.0052 133.026C73.119 133.026 74.022 132.124 74.022 131.011C74.022 129.899 73.119 128.997 72.0052 128.997C70.8913 128.997 69.9883 129.899 69.9883 131.011C69.9883 132.124 70.8913 133.026 72.0052 133.026Z' fill='%234AAB3C'/%3E%3Cpath d='M82.0052 133.026C83.119 133.026 84.022 132.125 84.022 131.012C84.022 129.899 83.119 128.997 82.0052 128.997C80.8913 128.997 79.9883 129.899 79.9883 131.012C79.9883 132.125 80.8913 133.026 82.0052 133.026Z' fill='%234AAB3C'/%3E%3Cpath d='M52.0091 133.025C53.1229 133.025 54.0259 132.123 54.0259 131.011C54.0259 129.898 53.1229 128.996 52.0091 128.996C50.8952 128.996 49.9922 129.898 49.9922 131.011C49.9922 132.123 50.8952 133.025 52.0091 133.025Z' fill='%234AAB3C'/%3E%3Cpath d='M62.0091 133.026C63.1229 133.026 64.0259 132.124 64.0259 131.011C64.0259 129.899 63.1229 128.997 62.0091 128.997C60.8952 128.997 59.9922 129.899 59.9922 131.011C59.9922 132.124 60.8952 133.026 62.0091 133.026Z' fill='%234AAB3C'/%3E%3Cpath d='M32.013 133.026C33.1268 133.026 34.0298 132.124 34.0298 131.011C34.0298 129.899 33.1268 128.997 32.013 128.997C30.8991 128.997 29.9961 129.899 29.9961 131.011C29.9961 132.124 30.8991 133.026 32.013 133.026Z' fill='%234AAB3C'/%3E%3Cpath d='M42.0091 133.026C43.1229 133.026 44.0259 132.124 44.0259 131.011C44.0259 129.899 43.1229 128.997 42.0091 128.997C40.8952 128.997 39.9922 129.899 39.9922 131.011C39.9922 132.124 40.8952 133.026 42.0091 133.026Z' fill='%234AAB3C'/%3E%3Cpath d='M92.0052 123.039C93.119 123.039 94.022 122.137 94.022 121.025C94.022 119.912 93.119 119.01 92.0052 119.01C90.8913 119.01 89.9883 119.912 89.9883 121.025C89.9883 122.137 90.8913 123.039 92.0052 123.039Z' fill='%234AAB3C'/%3E%3Cpath d='M102.001 123.039C103.115 123.039 104.018 122.137 104.018 121.024C104.018 119.912 103.115 119.01 102.001 119.01C100.887 119.01 99.9844 119.912 99.9844 121.024C99.9844 122.137 100.887 123.039 102.001 123.039Z' fill='%234AAB3C'/%3E%3Cpath d='M72.0052 123.039C73.119 123.039 74.022 122.137 74.022 121.024C74.022 119.912 73.119 119.01 72.0052 119.01C70.8913 119.01 69.9883 119.912 69.9883 121.024C69.9883 122.137 70.8913 123.039 72.0052 123.039Z' fill='%234AAB3C'/%3E%3Cpath d='M82.0012 123.039C83.1151 123.039 84.0181 122.137 84.0181 121.024C84.0181 119.912 83.1151 119.01 82.0012 119.01C80.8874 119.01 79.9844 119.912 79.9844 121.024C79.9844 122.137 80.8874 123.039 82.0012 123.039Z' fill='%234AAB3C'/%3E%3Cpath d='M52.0091 123.039C53.1229 123.039 54.0259 122.137 54.0259 121.024C54.0259 119.912 53.1229 119.01 52.0091 119.01C50.8952 119.01 49.9922 119.912 49.9922 121.024C49.9922 122.137 50.8952 123.039 52.0091 123.039Z' fill='%234AAB3C'/%3E%3Cpath d='M62.0091 123.039C63.1229 123.039 64.0259 122.137 64.0259 121.025C64.0259 119.912 63.1229 119.01 62.0091 119.01C60.8952 119.01 59.9922 119.912 59.9922 121.025C59.9922 122.137 60.8952 123.039 62.0091 123.039Z' fill='%234AAB3C'/%3E%3Cpath d='M32.013 123.039C33.1268 123.039 34.0298 122.137 34.0298 121.025C34.0298 119.912 33.1268 119.01 32.013 119.01C30.8991 119.01 29.9961 119.912 29.9961 121.025C29.9961 122.137 30.8991 123.039 32.013 123.039Z' fill='%234AAB3C'/%3E%3Cpath d='M42.0091 123.039C43.1229 123.039 44.0259 122.137 44.0259 121.024C44.0259 119.912 43.1229 119.01 42.0091 119.01C40.8952 119.01 39.9922 119.912 39.9922 121.024C39.9922 122.137 40.8952 123.039 42.0091 123.039Z' fill='%234AAB3C'/%3E%3Cpath d='M22.013 113.052C23.1268 113.052 24.0298 112.151 24.0298 111.038C24.0298 109.925 23.1268 109.023 22.013 109.023C20.8991 109.023 19.9961 109.925 19.9961 111.038C19.9961 112.151 20.8991 113.052 22.013 113.052Z' fill='%234AAB3C'/%3E%3Cpath d='M12.0169 113.052C13.1308 113.052 14.0337 112.151 14.0337 111.038C14.0337 109.925 13.1308 109.023 12.0169 109.023C10.903 109.023 10 109.925 10 111.038C10 112.151 10.903 113.052 12.0169 113.052Z' fill='%234AAB3C'/%3E%3Cpath d='M2.01687 113.052C3.13075 113.052 4.03373 112.151 4.03373 111.038C4.03373 109.925 3.13075 109.023 2.01687 109.023C0.902982 109.023 0 109.925 0 111.038C0 112.151 0.902982 113.052 2.01687 113.052Z' fill='%234AAB3C'/%3E%3Cpath d='M92.0052 113.052C93.119 113.052 94.022 112.151 94.022 111.038C94.022 109.925 93.119 109.023 92.0052 109.023C90.8913 109.023 89.9883 109.925 89.9883 111.038C89.9883 112.151 90.8913 113.052 92.0052 113.052Z' fill='%234AAB3C'/%3E%3Cpath d='M102.001 113.052C103.115 113.052 104.018 112.151 104.018 111.038C104.018 109.925 103.115 109.023 102.001 109.023C100.887 109.023 99.9844 109.925 99.9844 111.038C99.9844 112.151 100.887 113.052 102.001 113.052Z' fill='%234AAB3C'/%3E%3Cpath d='M72.0052 113.052C73.119 113.052 74.022 112.151 74.022 111.038C74.022 109.925 73.119 109.023 72.0052 109.023C70.8913 109.023 69.9883 109.925 69.9883 111.038C69.9883 112.151 70.8913 113.052 72.0052 113.052Z' fill='%234AAB3C'/%3E%3Cpath d='M82.0012 113.052C83.1151 113.052 84.0181 112.151 84.0181 111.038C84.0181 109.925 83.1151 109.023 82.0012 109.023C80.8874 109.023 79.9844 109.925 79.9844 111.038C79.9844 112.151 80.8874 113.052 82.0012 113.052Z' fill='%234AAB3C'/%3E%3Cpath d='M52.0091 113.052C53.123 113.052 54.0259 112.151 54.0259 111.038C54.0259 109.925 53.123 109.023 52.0091 109.023C50.8952 109.023 49.9922 109.925 49.9922 111.038C49.9922 112.151 50.8952 113.052 52.0091 113.052Z' fill='%234AAB3C'/%3E%3Cpath d='M62.0091 113.052C63.1229 113.052 64.0259 112.151 64.0259 111.038C64.0259 109.925 63.1229 109.023 62.0091 109.023C60.8952 109.023 59.9922 109.925 59.9922 111.038C59.9922 112.151 60.8952 113.052 62.0091 113.052Z' fill='%234AAB3C'/%3E%3Cpath d='M32.013 113.052C33.1268 113.052 34.0298 112.151 34.0298 111.038C34.0298 109.925 33.1268 109.023 32.013 109.023C30.8991 109.023 29.9961 109.925 29.9961 111.038C29.9961 112.151 30.8991 113.052 32.013 113.052Z' fill='%234AAB3C'/%3E%3Cpath d='M42.0091 113.052C43.1229 113.052 44.0259 112.151 44.0259 111.038C44.0259 109.925 43.1229 109.023 42.0091 109.023C40.8952 109.023 39.9922 109.925 39.9922 111.038C39.9922 112.151 40.8952 113.052 42.0091 113.052Z' fill='%234AAB3C'/%3E%3Cpath d='M22.0169 103.066C23.1307 103.066 24.0337 102.164 24.0337 101.051C24.0337 99.9384 23.1307 99.0365 22.0169 99.0365C20.903 99.0365 20 99.9384 20 101.051C20 102.164 20.903 103.066 22.0169 103.066Z' fill='%234AAB3C'/%3E%3Cpath d='M12.0169 103.066C13.1308 103.066 14.0337 102.164 14.0337 101.052C14.0337 99.939 13.1308 99.0371 12.0169 99.0371C10.903 99.0371 10 99.939 10 101.052C10 102.164 10.903 103.066 12.0169 103.066Z' fill='%234AAB3C'/%3E%3Cpath d='M92.0052 103.066C93.119 103.066 94.022 102.164 94.022 101.052C94.022 99.939 93.119 99.0371 92.0052 99.0371C90.8913 99.0371 89.9883 99.939 89.9883 101.052C89.9883 102.164 90.8913 103.066 92.0052 103.066Z' fill='%234AAB3C'/%3E%3Cpath d='M102.001 103.066C103.115 103.066 104.018 102.164 104.018 101.052C104.018 99.939 103.115 99.0371 102.001 99.0371C100.887 99.0371 99.9844 99.939 99.9844 101.052C99.9844 102.164 100.887 103.066 102.001 103.066Z' fill='%234AAB3C'/%3E%3Cpath d='M72.0052 103.066C73.119 103.066 74.022 102.164 74.022 101.051C74.022 99.9384 73.119 99.0365 72.0052 99.0365C70.8913 99.0365 69.9883 99.9384 69.9883 101.051C69.9883 102.164 70.8913 103.066 72.0052 103.066Z' fill='%234AAB3C'/%3E%3Cpath d='M82.0052 103.066C83.119 103.066 84.022 102.164 84.022 101.051C84.022 99.9384 83.119 99.0365 82.0052 99.0365C80.8913 99.0365 79.9883 99.9384 79.9883 101.051C79.9883 102.164 80.8913 103.066 82.0052 103.066Z' fill='%234AAB3C'/%3E%3Cpath d='M52.0091 103.066C53.123 103.066 54.0259 102.164 54.0259 101.051C54.0259 99.9384 53.123 99.0365 52.0091 99.0365C50.8952 99.0365 49.9922 99.9384 49.9922 101.051C49.9922 102.164 50.8952 103.066 52.0091 103.066Z' fill='%234AAB3C'/%3E%3Cpath d='M62.0091 103.066C63.1229 103.066 64.0259 102.164 64.0259 101.051C64.0259 99.9384 63.1229 99.0365 62.0091 99.0365C60.8952 99.0365 59.9922 99.9384 59.9922 101.051C59.9922 102.164 60.8952 103.066 62.0091 103.066Z' fill='%234AAB3C'/%3E%3Cpath d='M32.013 103.066C33.1268 103.066 34.0298 102.164 34.0298 101.051C34.0298 99.9384 33.1268 99.0365 32.013 99.0365C30.8991 99.0365 29.9961 99.9384 29.9961 101.051C29.9961 102.164 30.8991 103.066 32.013 103.066Z' fill='%234AAB3C'/%3E%3Cpath d='M42.0091 103.066C43.1229 103.066 44.0259 102.164 44.0259 101.052C44.0259 99.939 43.1229 99.0371 42.0091 99.0371C40.8952 99.0371 39.9922 99.939 39.9922 101.052C39.9922 102.164 40.8952 103.066 42.0091 103.066Z' fill='%234AAB3C'/%3E%3Cpath d='M22.0169 93.0785C23.1307 93.0785 24.0337 92.1765 24.0337 91.064C24.0337 89.9514 23.1307 89.0494 22.0169 89.0494C20.903 89.0494 20 89.9514 20 91.064C20 92.1765 20.903 93.0785 22.0169 93.0785Z' fill='%234AAB3C'/%3E%3Cpath d='M92.0052 93.0778C93.119 93.0778 94.022 92.1759 94.022 91.0633C94.022 89.9507 93.119 89.0488 92.0052 89.0488C90.8913 89.0488 89.9883 89.9507 89.9883 91.0633C89.9883 92.1759 90.8913 93.0778 92.0052 93.0778Z' fill='%234AAB3C'/%3E%3Cpath d='M102.001 93.0785C103.115 93.0785 104.018 92.1765 104.018 91.064C104.018 89.9514 103.115 89.0494 102.001 89.0494C100.887 89.0494 99.9844 89.9514 99.9844 91.064C99.9844 92.1765 100.887 93.0785 102.001 93.0785Z' fill='%234AAB3C'/%3E%3Cpath d='M72.0052 93.0785C73.119 93.0785 74.022 92.1765 74.022 91.064C74.022 89.9514 73.119 89.0494 72.0052 89.0494C70.8913 89.0494 69.9883 89.9514 69.9883 91.064C69.9883 92.1765 70.8913 93.0785 72.0052 93.0785Z' fill='%234AAB3C'/%3E%3Cpath d='M82.0052 93.0785C83.119 93.0785 84.022 92.1765 84.022 91.064C84.022 89.9514 83.119 89.0494 82.0052 89.0494C80.8913 89.0494 79.9883 89.9514 79.9883 91.064C79.9883 92.1765 80.8913 93.0785 82.0052 93.0785Z' fill='%234AAB3C'/%3E%3Cpath d='M52.0091 93.0785C53.1229 93.0785 54.0259 92.1765 54.0259 91.064C54.0259 89.9514 53.1229 89.0494 52.0091 89.0494C50.8952 89.0494 49.9922 89.9514 49.9922 91.064C49.9922 92.1765 50.8952 93.0785 52.0091 93.0785Z' fill='%234AAB3C'/%3E%3Cpath d='M62.0091 93.0785C63.1229 93.0785 64.0259 92.1765 64.0259 91.064C64.0259 89.9514 63.1229 89.0494 62.0091 89.0494C60.8952 89.0494 59.9922 89.9514 59.9922 91.064C59.9922 92.1765 60.8952 93.0785 62.0091 93.0785Z' fill='%234AAB3C'/%3E%3Cpath d='M32.013 93.0785C33.1268 93.0785 34.0298 92.1765 34.0298 91.064C34.0298 89.9514 33.1268 89.0494 32.013 89.0494C30.8991 89.0494 29.9961 89.9514 29.9961 91.064C29.9961 92.1765 30.8991 93.0785 32.013 93.0785Z' fill='%234AAB3C'/%3E%3Cpath d='M42.0091 93.0785C43.1229 93.0785 44.0259 92.1765 44.0259 91.064C44.0259 89.9514 43.1229 89.0494 42.0091 89.0494C40.8952 89.0494 39.9922 89.9514 39.9922 91.064C39.9922 92.1765 40.8952 93.0785 42.0091 93.0785Z' fill='%234AAB3C'/%3E%3Cpath d='M92.0052 83.0915C93.119 83.0915 94.022 82.1896 94.022 81.077C94.022 79.9644 93.119 79.0625 92.0052 79.0625C90.8913 79.0625 89.9883 79.9644 89.9883 81.077C89.9883 82.1896 90.8913 83.0915 92.0052 83.0915Z' fill='%234AAB3C'/%3E%3Cpath d='M102.001 83.0909C103.115 83.0909 104.018 82.189 104.018 81.0764C104.018 79.9638 103.115 79.0619 102.001 79.0619C100.887 79.0619 99.9844 79.9638 99.9844 81.0764C99.9844 82.189 100.887 83.0909 102.001 83.0909Z' fill='%234AAB3C'/%3E%3Cpath d='M72.0052 83.0909C73.119 83.0909 74.022 82.189 74.022 81.0764C74.022 79.9638 73.119 79.0619 72.0052 79.0619C70.8913 79.0619 69.9883 79.9638 69.9883 81.0764C69.9883 82.189 70.8913 83.0909 72.0052 83.0909Z' fill='%234AAB3C'/%3E%3Cpath d='M82.0052 83.0915C83.119 83.0915 84.022 82.1896 84.022 81.077C84.022 79.9644 83.119 79.0625 82.0052 79.0625C80.8913 79.0625 79.9883 79.9644 79.9883 81.077C79.9883 82.1896 80.8913 83.0915 82.0052 83.0915Z' fill='%234AAB3C'/%3E%3Cpath d='M52.0091 83.0915C53.1229 83.0915 54.0259 82.1896 54.0259 81.077C54.0259 79.9644 53.1229 79.0625 52.0091 79.0625C50.8952 79.0625 49.9922 79.9644 49.9922 81.077C49.9922 82.1896 50.8952 83.0915 52.0091 83.0915Z' fill='%234AAB3C'/%3E%3Cpath d='M62.0091 83.0915C63.1229 83.0915 64.0259 82.1896 64.0259 81.077C64.0259 79.9644 63.1229 79.0625 62.0091 79.0625C60.8952 79.0625 59.9922 79.9644 59.9922 81.077C59.9922 82.1896 60.8952 83.0915 62.0091 83.0915Z' fill='%234AAB3C'/%3E%3Cpath d='M32.013 83.0915C33.1268 83.0915 34.0298 82.1896 34.0298 81.077C34.0298 79.9644 33.1268 79.0625 32.013 79.0625C30.8991 79.0625 29.9961 79.9644 29.9961 81.077C29.9961 82.1896 30.8991 83.0915 32.013 83.0915Z' fill='%234AAB3C'/%3E%3Cpath d='M42.0091 83.0909C43.1229 83.0909 44.0259 82.189 44.0259 81.0764C44.0259 79.9638 43.1229 79.0619 42.0091 79.0619C40.8952 79.0619 39.9922 79.9638 39.9922 81.0764C39.9922 82.189 40.8952 83.0909 42.0091 83.0909Z' fill='%234AAB3C'/%3E%3Cpath d='M92.0052 73.1052C93.119 73.1052 94.022 72.2033 94.022 71.0907C94.022 69.9781 93.119 69.0762 92.0052 69.0762C90.8913 69.0762 89.9883 69.9781 89.9883 71.0907C89.9883 72.2033 90.8913 73.1052 92.0052 73.1052Z' fill='%234AAB3C'/%3E%3Cpath d='M102.001 73.1046C103.115 73.1046 104.018 72.2026 104.018 71.0901C104.018 69.9775 103.115 69.0756 102.001 69.0756C100.887 69.0756 99.9844 69.9775 99.9844 71.0901C99.9844 72.2026 100.887 73.1046 102.001 73.1046Z' fill='%234AAB3C'/%3E%3Cpath d='M72.0052 73.1046C73.119 73.1046 74.022 72.2026 74.022 71.0901C74.022 69.9775 73.119 69.0756 72.0052 69.0756C70.8913 69.0756 69.9883 69.9775 69.9883 71.0901C69.9883 72.2026 70.8913 73.1046 72.0052 73.1046Z' fill='%234AAB3C'/%3E%3Cpath d='M82.0052 73.1052C83.119 73.1052 84.022 72.2033 84.022 71.0907C84.022 69.9781 83.119 69.0762 82.0052 69.0762C80.8913 69.0762 79.9883 69.9781 79.9883 71.0907C79.9883 72.2033 80.8913 73.1052 82.0052 73.1052Z' fill='%234AAB3C'/%3E%3Cpath d='M52.0091 73.1052C53.1229 73.1052 54.0259 72.2033 54.0259 71.0907C54.0259 69.9781 53.1229 69.0762 52.0091 69.0762C50.8952 69.0762 49.9922 69.9781 49.9922 71.0907C49.9922 72.2033 50.8952 73.1052 52.0091 73.1052Z' fill='%234AAB3C'/%3E%3Cpath d='M62.0091 73.1052C63.1229 73.1052 64.0259 72.2033 64.0259 71.0907C64.0259 69.9781 63.1229 69.0762 62.0091 69.0762C60.8952 69.0762 59.9922 69.9781 59.9922 71.0907C59.9922 72.2033 60.8952 73.1052 62.0091 73.1052Z' fill='%234AAB3C'/%3E%3Cpath d='M42.0091 73.1046C43.1229 73.1046 44.0259 72.2026 44.0259 71.0901C44.0259 69.9775 43.1229 69.0756 42.0091 69.0756C40.8952 69.0756 39.9922 69.9775 39.9922 71.0901C39.9922 72.2026 40.8952 73.1046 42.0091 73.1046Z' fill='%234AAB3C'/%3E%3Cpath d='M92.0052 63.1183C93.119 63.1183 94.022 62.2163 94.022 61.1038C94.022 59.9912 93.119 59.0892 92.0052 59.0892C90.8913 59.0892 89.9883 59.9912 89.9883 61.1038C89.9883 62.2163 90.8913 63.1183 92.0052 63.1183Z' fill='%234AAB3C'/%3E%3Cpath d='M102.001 63.1183C103.115 63.1183 104.018 62.2163 104.018 61.1038C104.018 59.9912 103.115 59.0892 102.001 59.0892C100.887 59.0892 99.9844 59.9912 99.9844 61.1038C99.9844 62.2163 100.887 63.1183 102.001 63.1183Z' fill='%234AAB3C'/%3E%3Cpath d='M72.0052 63.1183C73.119 63.1183 74.022 62.2163 74.022 61.1038C74.022 59.9912 73.119 59.0892 72.0052 59.0892C70.8913 59.0892 69.9883 59.9912 69.9883 61.1038C69.9883 62.2163 70.8913 63.1183 72.0052 63.1183Z' fill='%234AAB3C'/%3E%3Cpath d='M82.0052 63.1183C83.119 63.1183 84.022 62.2163 84.022 61.1038C84.022 59.9912 83.119 59.0892 82.0052 59.0892C80.8913 59.0892 79.9883 59.9912 79.9883 61.1038C79.9883 62.2163 80.8913 63.1183 82.0052 63.1183Z' fill='%234AAB3C'/%3E%3Cpath d='M52.0091 63.1175C53.1229 63.1175 54.0259 62.2156 54.0259 61.103C54.0259 59.9904 53.1229 59.0885 52.0091 59.0885C50.8952 59.0885 49.9922 59.9904 49.9922 61.103C49.9922 62.2156 50.8952 63.1175 52.0091 63.1175Z' fill='%234AAB3C'/%3E%3Cpath d='M62.0091 63.1183C63.1229 63.1183 64.0259 62.2163 64.0259 61.1038C64.0259 59.9912 63.1229 59.0892 62.0091 59.0892C60.8952 59.0892 59.9922 59.9912 59.9922 61.1038C59.9922 62.2163 60.8952 63.1183 62.0091 63.1183Z' fill='%234AAB3C'/%3E%3Cpath d='M92.0052 53.1317C93.119 53.1317 94.022 52.2298 94.022 51.1172C94.022 50.0046 93.119 49.1027 92.0052 49.1027C90.8913 49.1027 89.9883 50.0046 89.9883 51.1172C89.9883 52.2298 90.8913 53.1317 92.0052 53.1317Z' fill='%234AAB3C'/%3E%3Cpath d='M102.001 53.131C103.115 53.131 104.018 52.229 104.018 51.1164C104.018 50.0039 103.115 49.1019 102.001 49.1019C100.887 49.1019 99.9844 50.0039 99.9844 51.1164C99.9844 52.229 100.887 53.131 102.001 53.131Z' fill='%234AAB3C'/%3E%3Cpath d='M72.0052 53.131C73.119 53.131 74.022 52.229 74.022 51.1164C74.022 50.0039 73.119 49.1019 72.0052 49.1019C70.8913 49.1019 69.9883 50.0039 69.9883 51.1164C69.9883 52.229 70.8913 53.131 72.0052 53.131Z' fill='%234AAB3C'/%3E%3Cpath d='M82.0012 53.131C83.1151 53.131 84.0181 52.229 84.0181 51.1164C84.0181 50.0039 83.1151 49.1019 82.0012 49.1019C80.8874 49.1019 79.9844 50.0039 79.9844 51.1164C79.9844 52.229 80.8874 53.131 82.0012 53.131Z' fill='%234AAB3C'/%3E%3Cpath d='M62.0091 53.1317C63.1229 53.1317 64.0259 52.2298 64.0259 51.1172C64.0259 50.0046 63.1229 49.1027 62.0091 49.1027C60.8952 49.1027 59.9922 50.0046 59.9922 51.1172C59.9922 52.2298 60.8952 53.1317 62.0091 53.1317Z' fill='%234AAB3C'/%3E%3Cpath d='M92.0052 43.1446C93.119 43.1446 94.022 42.2427 94.022 41.1301C94.022 40.0175 93.119 39.1156 92.0052 39.1156C90.8913 39.1156 89.9883 40.0175 89.9883 41.1301C89.9883 42.2427 90.8913 43.1446 92.0052 43.1446Z' fill='%234AAB3C'/%3E%3Cpath d='M102.001 43.1446C103.115 43.1446 104.018 42.2427 104.018 41.1301C104.018 40.0175 103.115 39.1156 102.001 39.1156C100.887 39.1156 99.9844 40.0175 99.9844 41.1301C99.9844 42.2427 100.887 43.1446 102.001 43.1446Z' fill='%234AAB3C'/%3E%3Cpath d='M72.0052 43.1446C73.119 43.1446 74.022 42.2427 74.022 41.1301C74.022 40.0175 73.119 39.1156 72.0052 39.1156C70.8913 39.1156 69.9883 40.0175 69.9883 41.1301C69.9883 42.2427 70.8913 43.1446 72.0052 43.1446Z' fill='%234AAB3C'/%3E%3Cpath d='M82.0012 43.1446C83.1151 43.1446 84.0181 42.2427 84.0181 41.1301C84.0181 40.0175 83.1151 39.1156 82.0012 39.1156C80.8874 39.1156 79.9844 40.0175 79.9844 41.1301C79.9844 42.2427 80.8874 43.1446 82.0012 43.1446Z' fill='%234AAB3C'/%3E%3Cpath d='M92.0052 33.1581C93.119 33.1581 94.022 32.2561 94.022 31.1435C94.022 30.031 93.119 29.129 92.0052 29.129C90.8913 29.129 89.9883 30.031 89.9883 31.1435C89.9883 32.2561 90.8913 33.1581 92.0052 33.1581Z' fill='%234AAB3C'/%3E%3Cpath d='M102.001 33.1574C103.115 33.1574 104.018 32.2555 104.018 31.1429C104.018 30.0303 103.115 29.1284 102.001 29.1284C100.887 29.1284 99.9844 30.0303 99.9844 31.1429C99.9844 32.2555 100.887 33.1574 102.001 33.1574Z' fill='%234AAB3C'/%3E%3Cpath d='M82.0052 33.1574C83.119 33.1574 84.022 32.2555 84.022 31.1429C84.022 30.0303 83.119 29.1284 82.0052 29.1284C80.8913 29.1284 79.9883 30.0303 79.9883 31.1429C79.9883 32.2555 80.8913 33.1574 82.0052 33.1574Z' fill='%234AAB3C'/%3E%3Cpath d='M92.0052 23.1705C93.119 23.1705 94.022 22.2686 94.022 21.156C94.022 20.0434 93.119 19.1415 92.0052 19.1415C90.8913 19.1415 89.9883 20.0434 89.9883 21.156C89.9883 22.2686 90.8913 23.1705 92.0052 23.1705Z' fill='%234AAB3C'/%3E%3Cpath d='M102.001 23.171C103.115 23.171 104.018 22.2691 104.018 21.1565C104.018 20.0439 103.115 19.142 102.001 19.142C100.887 19.142 99.9844 20.0439 99.9844 21.1565C99.9844 22.2691 100.887 23.171 102.001 23.171Z' fill='%234AAB3C'/%3E%3Cpath d='M102.001 14.0161C103.115 14.0161 104.018 13.1142 104.018 12.0016C104.018 10.889 103.115 9.98706 102.001 9.98706C100.887 9.98706 99.9844 10.889 99.9844 12.0016C99.9844 13.1142 100.887 14.0161 102.001 14.0161Z' fill='%234AAB3C'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_501_10374'%3E%3Crect width='234' height='240' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
				width: 110px;
				height: 240px;
				position: absolute;
				bottom: -140px;
				right: -15px;
				background-repeat: no-repeat;
				background-size: contain;
			}
		}
	}

	&__item
	{
		z-index: 2;

		width: 330px;
		margin-bottom: 24px;
		margin-left: calc(50% - 165px);

		border-radius: 10px;
		background: #fff;
		box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
		transition: 0.3s;

		&:hover {
			box-shadow: 0 2px 8px rgba(0, 0, 0, .25);
			transition: 0.3s;
		}

		@media(min-width: 1024px)
		{
			display: block;

			width: auto;
			margin-bottom: 0;
		}
	}
	&__img
	{
		position: relative;

		display: block;
		overflow: hidden;

		height: 310px;

		border-radius: 10px 10px 0 0;
	}

	.image-switch
	{
		position: absolute;
		z-index: 20;
		top: 0;
		left: 0;

		display: flex;

		width: 100%;
		height: 100%;
	}

	.image-switch__item
	{
		cursor: pointer;

		flex-grow: 1;
	}

	.image-switch__img
	{
		position: absolute;
		z-index: 2;
		top: 0;
		left: 50%;

		display: flex;

		width: 100%;
		height: 100%;

		transform: translateX(-50%);
		pointer-events: none;


		background-color: #fff;

		align-items: center;
		justify-content: center;

		@media(min-width: 1024px) {
			opacity: 0;
		}
	}

	.image-switch__img img
	{
		display: block;

		max-width: 100%;
		height: 374px;

		object-fit: cover;
	}

	.image-switch__item:first-child .image-switch__img
	{
		z-index: -1;

		opacity: 1;
	}

	.image-switch__item:hover .image-switch__img
	{
		z-index: -1;

		opacity: 1;
	}

	.image-pagination
	{
		position: absolute;
		z-index: 30;
		right: 0;
		bottom: -5px;
		left: 10px;

		width: calc(100% - 20px);
		padding-left: 0;

		grid-template-columns: 1fr 1fr 1fr 1fr;
		justify-content: center;
		gap: 7px;
		display: none;

		@media(min-width: 1024px) {
			display: grid;
		}
	}

	.swiper-pagination {
		position: absolute;
		z-index: 30;
		right: 10px;
		bottom: 5px;
		left: 10px;

		width: calc(100% - 20px);
		padding-left: 0;
		height: 10px;

		grid-template-columns: 1fr 1fr 1fr 1fr;
		justify-content: center;
		gap: 7px;
		display: grid;

		@media(min-width: 1024px) {
			display: none;
		}
	}

	.swiper-pagination-bullet {
		display: block;

		width: 100%;
		height: 2px;

		border-radius: 100%;
		background-color: #f2f2f2;

	}

	.swiper-pagination-bullet-active {
		background-color: $accent;
	}



	.image-pagination__item
	{
		display: block;

		width: 100%;
		height: 2px;

		border-radius: 100%;
		background-color: #f2f2f2;
	}

	.image-pagination__item--active
	{
		background-color: $accent;
	}
	&__characteristics
	{
		margin-top: 10px;
		padding-top: 0;
		padding-right: 12px;
		padding-bottom: 15px;
		padding-left: 12px;

		@media(min-width: 1024px)
		{
			padding-right: 25px;
			padding-bottom: 20px;
			padding-left: 18px;
		}
	}
	&__subtitle
	{
		font-size: 16px;
		font-weight: 600;

		margin-top: 0;
		margin-bottom: 16px;

		text-align: left;

		@media(min-width: 1024px)
		{
			font-size: 18px;

			margin-bottom: 24px;
		}
	}
	&__table
	{
		display: grid;

		margin-bottom: 20px;
	}
	&__button {
		width: 100%;
	}
}

.key
{
	&__name
	{
		font-size: 14px;
		font-weight: 400;

		display: block;

		text-align: left;

		color: #bdbdbd;

		@media(min-width: 768px)
		{
			display: flex;
		}

		@media(min-width: 1024px)
		{
			font-size: 16px;
		}
	}
	&__value
	{
		font-weight: 600;
	}
}
.table
{
	&__string
	{
		font-size: 16px;

		display: flex;
		justify-content: space-between;

		margin-bottom: 8px;

		flex-wrap: wrap;
		justify-content: space-between;

		@media(min-width: 1024px)
		{
			margin-bottom: 6px;
		}
	}

	@media(min-width: 1024px) {
		.swiper-wrapper {

		}
	}
}
