.promo-form
{
	padding-top: 10px;
	padding-right: 15px;
	padding-bottom: 24px;
	padding-left: 15px;

	border: 1px solid #4aab3c;
	border-radius: 30px;
	background: #fff;

	&__block {
		display: none;
		&--active {
			display: block;
		}
	}

	&__clean
	{
		position: relative;

		margin-bottom: 16px;
		margin-left: calc(100% - 15px - 81px);
		padding-right: 0;
		padding-left: 19px;

		text-align: right;
		text-decoration: underline;

		color: #bdbdbd;
		border: none;
		background: none;

		&::before
		{
			position: absolute;
			top: 2.5px;
			left: 0;

			width: 13px;
			height: 13px;

			content: url('../img/icons/arrow-again.svg');
		}
	}

	&__input
	{
		font-weight: 300;
		font-size: 14px;
		line-height: 17px;

		padding-top: 12px;
		padding-bottom: 12px;
		padding-left: 16px;

		color: #8c8c8c;
		border: none;
		border-radius: 5px;
		background: #f8f8f8;

		@media(min-width: 1024px)
		{
			font-size: 16px;
			line-height: 19px;
		}

		&--hidden
		{
			display: none;
		}
		&--active
		{
			display: inline-block;
		}

		&--preconnect
		{
			border-radius: 5px 0 0 5px;
			width: calc(60% - 24px);
		}

		&--connect
		{
			width: calc(40% - 24px);

			border-radius: 0 5px 5px 0;
		}

		&--name {
			width: calc(100% - 30px);
			margin-bottom: 12px;
			padding-left: 20px;
		}

		&--phone {
			width: calc(100% - 30px);
			padding-left: 20px;
		}

		&--textarea {
			width: calc(100% - 15px);
			height: 75px;
		}
	}

	&__label {
		width: 100%;
		font-size: 14px;
		font-weight: 300;
		color: #000;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 12px;

		&--comment {
			display: block;
			margin-bottom: 0;
		}
	}

	&__select {
		width: calc(100% - 136px);

		&--short {
			width: calc(100% - 240px);
		}
	}

	&__option {


	}

	option:active {
		background: #000;
	}

	&__title
	{
		font-size: 16px;
		font-weight: 400;
		line-height: 19px;

		position: relative;

		margin: 0;
		margin-bottom: 23px;
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 42px;

		color: #000;

		&::after
		{
			font-size: 16px;

			position: absolute;
			top: 0;
			left: 0;

			display: flex;

			width: 30px;
			height: 30px;

			content: '1';

			color: #fff;
			border-radius: 50%;
			background: $accent;

			justify-content: center;
			align-items: center;
		}

		@media(min-width: 1024px)
		{
			font-size: 18px;
			line-height: 22px;

			padding-top: 7px;
			padding-bottom: 7px;
			padding-left: 50px;

			&::after
			{
				font-size: 20px;

				width: 38px;
				height: 38px;
			}
		}

		&--way {

		}

		&--car {
			margin-top: 32px;
			&::after {
				content: '2';
			}
		}

		&--time {
			margin-top: 32px;
			&::after {
				content: '3';
			}
		}
	}

	&__way
	{
		position: relative;

		&::before
		{
			position: absolute;
			top: 65px;
			left: 0;

			width: 16px;
			height: 72px;

			content: url('../img/icons/way-start.svg');
		}
	}



	&__actual {
		&-title {
			font-weight: 300;
			margin-top: 0;
			margin-bottom: 6px;
font-size: 12px;
color: #8c8c8c;
		}

		&-car {
			margin: 0;
font-weight: 300;
font-size: 16px;
color: #000;
		}

		&-link {
			text-decoration: underline;
			font-weight: 300;
			font-size: 12px;
			line-height: 14px;
			color: $accent;
    		margin-bottom: 0;
    		margin-top: 40px;

    &--absolute {
    	z-index: 2;
    position: absolute;
    top: 60px;
    margin-top: 12px;
		}
    }
	}

	&__car {
		width: 273px;
		height: 100px;
		background: #F8F8F8;
		padding: 12px;
		border-radius: 10px;
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 18px;
		margin-left: calc(100% - 303px);

		.select {
			display: none;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			border-radius: 5px;

			&--active {
				display: block;
				height: 100%;
    			background: #F8F8F8;
    			z-index: 1;
			}

			&__toggle {
}
&__dropdown {
}
&__options {
}
&__option {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
&__option_selected {
}
}

	}

	&__time {
	}

	&__start
	{
		position: relative;

		display: flex;

		margin-bottom: 12px;
		padding-left: 24px;

		&::before
		{
			position: absolute;
			top: 12px;
			left: calc(60%);

			width: 1px;
			height: 20px;

			content: '';

			background: #b4c1ce;
		}
	}

	&__end
	{
		position: relative;

		display: flex;

		padding-left: 24px;

		&::before
		{
			position: absolute;
			top: 12px;
			left: calc(60%);

			width: 1px;
			height: 20px;

			content: '';

			background: #b4c1ce;
		}
	}

	&__add-adress {
		border: none;
		background: none;
		padding-top: 0;
		padding-right: 0;
		padding-bottom: 0;
		padding-left: 20px;
		position: relative;
		text-decoration: underline;
		color: $accent;
		font-size: 14px;
		margin-top: 12px;
		margin-bottom: 24px;

		&::before {
			position: absolute;
			left: 0;
			top: 0;
			content: '+';
			width: 16px;
			height: 16px;
		}
}

&__line {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: calc(60% - 200px);

	.promo-form__label {


		input {
			width: 100px;
			margin-left: calc(50% - 100px);
		}
	}
}

&__button {
	margin-top: 24px;
	background: linear-gradient(268.55deg, #52CB3F 0.27%, rgba(79, 198, 60, 0.7) 116.81%);
	padding: 14px 32px;
	width: 100%;
	font-weight: 700;
font-size: 16px;
line-height: 19px;
text-align: center;
border: none;
color: #fff;
border-radius: 5px;
margin-bottom: 10px;
}

&__agreement {
	margin-top: 0;
	font-size: 12px;
	font-weight: 300;
	color: #8C8C8C;

	span {
		color: $accent;
	}
}
}
