.promo-form {
  position: relative;
  z-index: 2;

  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 24px;
  padding-left: 15px;

  background: #ffffff;
  border: 1px solid #4aab3c;
  border-radius: 30px;

  @media(min-width: 1024px) {
    max-height: 282px;
    padding-bottom: 72px;
  }

  .just-validate-error-label {
    font-family: "Exo 2", sans-serif;
  }

  &--active {
    @media(min-width: 1024px) {
      max-height: none;



      &::after {
        content: "";
        position: absolute;
        right: 74px;
        bottom: 198px;
        left: 74px;

        width: calc(100% - 148px);
        height: 2px;

        background: #f8f8f8;
      }
    }
  }



  &__block {
    display: none;
    &--active {
      display: block;
    }
  }

  form {
    @media(min-width: 1024px) {
      display: grid;

      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 100px;
      row-gap: 50px;
    }

    @media(min-width: 1140px) {
    }
  }

  &__clean {
    position: relative;

    margin-bottom: 16px;
    margin-left: calc(100% - 15px - 81px);
    padding-right: 0;
    padding-left: 19px;

    text-align: right;
    color: #bdbdbd;
    text-decoration: underline;

    background: none;
    border: none;

    &::before {
      content: url("../img/icons/arrow-again.svg");
      position: absolute;
      top: 2.5px;
      left: 0;

      width: 13px;
      height: 13px;
    }
  }

  &__stops {
    .just-validate-error-label {
      position: absolute;
      top: 35px;
      left: 25px;
    }
  }

  &__input {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;

    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #8c8c8c;

    background: #f8f8f8;
    border: none;
    border-radius: 5px;

    @media(min-width: 1024px) {
      font-size: 16px;
      line-height: 19px;
    }

    &--hidden {
      display: none;
    }
    &--active {
      display: inline-block;
    }

    &--address {
      width: 100%;
      max-height: 44px;

      border-radius: 5px;

      @media(min-width: 1024px) {
        width: 280px;
      }
    }

    &--name {
      width: calc(100% - 30px);
      margin-bottom: 12px;
      padding-left: 20px;
    }

    &--phone {
      width: calc(100% - 30px);
      padding-left: 20px;
    }

    &--textarea {
      width: calc(100% - 15px);
      height: 75px;
      margin-top: 10px;
    }
  }

  &__label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 12px;

    font-weight: 300;
    font-size: 14px;
    color: #000000;

    @media(min-width: 1024px) {
      width: 273px;
    }

    &--comment {
      display: block;
      margin-bottom: 0;
    }

    &--date {
      position: relative;
      &::after {
        content: url("../img/icons/calendar.svg");
        position: absolute;
        top: 10px;
        right: 8px;

        width: 24px;
        height: 24px;
      }
    }
  }

  &__select {
    width: calc(100% - 75px);

    @media(min-width: 400px) {
      width: calc(100% - 136px);
    }

    @media(min-width: 1024px) {
      width: 202px;
    }

    &--short {
      width: calc(100% - 240px);

      @media(min-width: 1024px) {
        width: 122px;
      }
    }
  }



  option:active {
    background: #000000;
  }

  &__title {
    position: relative;

    margin: 0;
    margin-bottom: 23px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 42px;

    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;

    @media(min-width: 1024px) {
      padding-top: 7px;
      padding-bottom: 7px;
      padding-left: 50px;

      font-size: 18px;
      line-height: 22px;

      &::after {
        width: 38px;
        height: 38px;

        font-size: 20px;
      }
    }

    &::after {
      content: "1";
      position: absolute;
      top: 0;
      left: 0;

      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;

      font-size: 16px;
      color: #ffffff;

      background: $accent;
      border-radius: 50%;
    }



    &--car {
      margin-top: 32px;

      @media(min-width: 1024px) {
        margin-top: 0;
      }
      &::after {
        content: "2";
      }
    }

    &--time {
      margin-top: 32px;

      @media(min-width: 1024px) {
        margin-top: 0;
      }
      &::after {
        content: "3";
      }
    }
  }

  .is-invalid {
    color: rgb(184, 17, 17);

    border: 1px solid rgb(184, 17, 17);

    &::placeholder {
      color: rgb(184, 17, 17);
    }
  }

  &__way {
    position: relative;

    @media(min-width: 1150px) {
      margin-right: 75px;
    }

    &::before {
      content: url("../img/icons/way-start.svg");
      position: absolute;
      top: 70px;
      left: 0;

      width: 16px;
      height: 72px;
    }

    &--no-icon {
      .just-validate-error-label {
        position: absolute;
        top: 0;
        left: 0;
      }

      .is-invalid {
        color: rgb(184, 17, 17);

        border: 1px solid rgb(184, 17, 17);

        &::placeholder {
          color: rgb(184, 17, 17);
        }
      }


      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;

        width: 0;
        height: 0;
      }
    }
  }

  &__error-label {
    position: relative;
  }



  &__actual {
    &-title {
      margin-top: 0;
      margin-bottom: 6px;

      font-weight: 300;
      font-size: 12px;
      color: #8c8c8c;
    }

    &-car {
      margin: 0;

      font-weight: 300;
      font-size: 16px;
      color: #000000;
    }

    &-link {
      margin-top: 40px;
      margin-bottom: 0;

      font-weight: 300;
      font-size: 12px;
      line-height: 14px;
      color: $accent;
      text-decoration: underline;

      &--absolute {
        position: absolute;
        top: 60px;
        z-index: 2;

        margin-top: 12px;
      }
    }
  }

  &__car {
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 273px;
    height: 100px;
    margin-top: 18px;
    margin-left: calc(100% - 303px);
    padding: 12px;

    background: #f8f8f8;
    border-radius: 10px;

    @media(min-width: 1024px) {
      margin-top: 0;
    }

    .select {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;

      display: none;

      border-radius: 5px;

      &--active {
        z-index: 1;

        display: block;
        height: 100%;

        background: #f8f8f8;
      }




      &__option {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }

  &__time {
    @media(min-width: 1024px) {
      .select {
        margin-left: 10px;
      }
      .promo-form__label {
        width: 100%;
      }
    }
    @media(min-width: 1150px) {
      .select {
        margin-left: 0;
      }
    }


    @media(min-width: 1150px) {
      width: 341px;
      margin-left: 56px;

      .promo-form__label {
        width: 341px;
      }
    }
  }

  &__start {
    position: relative;

    display: flex;
    margin-bottom: 12px;
    padding-left: 24px;
  }

  &__end {
    position: relative;

    display: flex;
    padding-left: 24px;
  }

  &__middle {
    position: relative;

    display: flex;
    margin-bottom: 12px;
    padding-left: 24px;
  }

  &__add-adress {
    position: relative;

    margin-top: 12px;
    margin-bottom: 24px;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 20px;

    font-size: 14px;
    color: $accent;
    text-decoration: underline;

    background: none;
    border: none;

    @media(min-width: 1024px) {
      margin-top: 16px;
    }

    &::before {
      content: "+";
      position: absolute;
      top: 0;
      left: 0;

      width: 16px;
      height: 16px;
    }
  }

  &__line {
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: calc(60% - 200px);

    @media(min-width: 1024px) {
      width: 341px;

      gap: 20px;
    }

    .promo-form__label {
      @media(min-width: 1024px) {
        justify-content: normal;
        width: auto;
      }



      input {
        width: 100px;
        margin-left: calc(50% - 100px);

        @media(min-width: 1024px) {
          width: 38px;
          margin-left: 16px;
          padding-right: 16px;
          padding-left: 16px;
        }
      }
    }

    #date {
      @media(min-width: 1024px) {
        position: relative;

        width: 80px;
        padding-right: 45px;
        padding-left: 8px;
      }
    }
  }

  &__button {
    width: 100%;
    margin-top: 24px;
    margin-bottom: 10px;
    padding: 14px 32px;

    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #ffffff;

    border: none;
    border-radius: 5px;

    @media(min-width: 1024px) {
      margin-top: 0;
    }
  }

  &__agreement {
    margin-top: 0;

    font-weight: 300;
    font-size: 12px;
    color: #8c8c8c;

    span {
      color: $accent;
    }
  }
}

.is-invalid {
  color: rgb(184, 17, 17);

  border: 1px solid rgb(184, 17, 17);
}
