.questions {
	padding-top: 24px;
	padding-bottom: 24px;
	overflow: hidden;

	background-color: #faeecc;
	border-radius: 15% 0 0 0;

	@media(min-width: 1024px) {
		padding-top: 40px;
		padding-bottom: 40px;

		background-color: transparent;
		background-image: url("../img/icons/questions-bg.svg");
		background-repeat: no-repeat;
		background-position-x: 135px;
		background-size: cover;
		border-radius: 0 0 0 0;
	}



	.container {
		position: relative;

		&::after {
			content: url("../img/icons/questions-after-mobile.svg");
			position: absolute;
			top: -20px;
			right: 0;
			z-index: 1;

			width: 54px;
			height: 61px;

			@media(min-width: 410px) {
				right: 10%;
			}

			@media(min-width: 600px) {
				right: 20%;
			}

			@media(min-width: 1024px) {
				content: url("../img/icons/questions-after.svg");
				top: -35px;
				right: -90px;

				width: 132px;
				height: 158px;
			}
		}

		@media(min-width: 1024px) {
			position: relative;

			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}

	&__text {
		text-align: center;
		@media(min-width: 1024px) {
			max-width: 300px;
			margin-right: 40px;
			margin-left: 185px;

			text-align: left;
		}
	}

	&__title {
		margin-top: 0;
		margin-bottom: 18px;

		font-weight: 500;
		font-size: 24px;

		@media(min-width: 1024px) {
			margin-bottom: 24px;

			font-size: 32px;
		}
	}

	&__description {
		margin-bottom: 32px;

		font-size: 16px;
		color: #333333;


		@media(min-width: 1024px) {
			margin: 0;
		}
	}

	&__form {
		@media(min-width: 1024px) {
			display: flex;
			align-items: center;
			max-width: 640px;
		}
	}

	&__phone {
		width: calc(100% - 22px);
		margin-bottom: 18px;
		padding-top: 16px;
		padding-bottom: 16px;
		padding-left: 20px;

		font-weight: 500;
		font-weight: 300;
		font-size: 14px;
		line-height: 17px;
		color: #bdbdbd;

		background: #ffffff;
		border: none;
		border-radius: 5px;

		@media(min-width: 1024px) {
			width: calc(100% - 150px);
			margin-right: 40px;
			margin-bottom: 0;
			padding-top: 16px;
			padding-right: 130px;
			padding-bottom: 16px;

			font-size: 16px;
			line-height: 19px;
			color: #bdbdbd;
		}

		&-wrapper {
			position: relative;

			&::after {
				content: url("../img/icons/consult-phone.svg");
				position: absolute;
				top: 14px;
				right: 20px;

				width: 24px;
				height: 24px;

				@media(min-width: 1024px) {
					top: 14px;
				}
			}

			&--active {
				&::after {
					content: url("../img/icons/consult-phone-active.svg");
				}


				.questions__phone {
					color: $accent;

					border: 1px solid $accent;
				}
			}
		}
	}

	&__button {
		width: 100%;
		margin-bottom: 8px;
		padding-top: 14.5px;
		padding-right: calc(50% - 92px);
		padding-bottom: 14.5px;
		padding-left: calc(50% - 92px);

		font-weight: 500;
		font-size: 16px;
		text-align: center;
		color: #ffffff;

		border: none;
		border-radius: 5px;
		z-index: 2;


		@media(min-width: 1024px) {
			width: 300px;
			margin-bottom: 0;
			margin-left: 40px;
			padding-top: 14.5px;
			padding-right: 0;
			padding-bottom: 14.5px;
			padding-left: 0;

			font-size: 18px;
		}
	}

	.is-invalid {
		color: #b81111;

		border: 1px solid #b81111;

		&::placeholder {
			color: #b81111;
		}
	}
}
