.reviews-form {
	overflow: hidden;
	margin-bottom: 24px;
	z-index: 1;

	@media(min-width: 1024px) {
		position: relative;
		margin-bottom: 32px;

		&::after {
			position: absolute;
			top: 0;
			right: 0;
			background: #FAEECC;
			width: 50%;
			height: 100%;
			content: '';
			z-index: -2;
		}
	}

	@media(max-width: 1024px) {
		background: #FAEECC;
		padding-top: 32px;
		padding-top: 24px;
		padding-bottom: 24px;
		position: relative;

		&::before {
			position: absolute;
			top: 0;
			right: -10px;
			width: 69px;
			z-index: -2;
			height: 64px;
			content: url('../img/icons/review-form-before-mobile.svg');
		}

		&::after {
			position: absolute;
			bottom: 105px;
			left: -7px;
			width: 64px;
			z-index: -2;
			height: 62px;
			content: url('../img/icons/review-form-after-mobile.svg');
		}
	}

	.container {
		@media(min-width: 1024px) {

			background-image: url('../img/content-images/review-form-bg.svg');
			background-repeat: no-repeat;
			background-size: cover;
			background-position: 0 0;
			position: relative;
		}

	}

	&__wrapper {
		@media(min-width: 1024px) {
			width: 800px;
			margin: 0 auto;

			&::before {
				position: absolute;
				top: 0;
				right: -23px;
				width: 124px;
				height: 116px;
				content: url('../img/icons/review-form-before-desktop.svg');
			}

			&::after {
				position: absolute;
				bottom: 50px;
				left: 42px;
				width: 79px;
				height: 78px;
				content: url('../img/icons/review-form-after-desktop.svg');
			}

			padding-top: 32px;
			padding-bottom: 32px;
		}
	}

	&__title {
		margin-top: 0;
		margin-bottom: 24px;
		font-size: 24px;
		font-weight: 500;
		color: #000;
		text-align: center;


		@media(min-width: 1024px) {
			font-size: 32px;
		}
	}

	.is-invalid {
		background: #FFF5F5;
		border: 1px solid #FFD8D8;

		&::placeholder {
			color: #F93232;
		}
	}
}

.review {
	&-form {
		&__label {
			font-size: 14px;
			font-weight: 300;
			color: #000;
			display: flex;
			align-items: center;
			margin-bottom: 12px;

			@media(min-width: 1024px) {
				font-size: 18px;
				display: inline-flex;
				margin-bottom: 18px;
			}

			&--text {
				display: block;
				margin-bottom: 18px;
			}

			&--raiting {
				margin-right: calc(100% - 692px);
			}
		}
	}

	&__form {}

	&__input {
		border-radius: 5px;
		background: #fff;
		border: none;
		padding-left: 8px;
		padding-top: 14px;
		padding-bottom: 14px;

		&--name {
			width: calc(100% - 100px);
			margin-left: 34px;
			box-sizing: border-box;

			@media(min-width: 1024px) {
				width: 260px;
				margin-left: 40px;
			}
		}

		&::placeholder {
			font-size: 14px;
			color: #8C8C8C;
			font-weight: 300;

			@media(min-width: 1024px) {
				font-size: 18px;
				color: #AAAAAA;
			}
		}
	}

	&__text {
		display: block;
		margin-top: 8px;
		width: 100%;
		max-width: 800px;
		height: 140px;
		resize: none;
		box-sizing: border-box;


		@media(min-width: 1024px) {
			margin-top: 12px;
		}
	}

	&__button {
		width: 100%;
		text-align: center;
		padding-top: 14px;
		padding-bottom: 14px;
		line-height: 20px;
		margin-bottom: 12px;
		font-weight: 700;

		&--disabled {
			background: #D8D8D8;

			&::after {
				animation: none;
			}
			&:hover {
				background: #D8D8D8;
			}
		}
	}
}

.raiting {
	display: inline-flex;
	flex-direction: row-reverse;
	margin-left: 15px;

	@media(min-width: 1024px) {
		margin-left: 14px;
	}

	&[data-total-value="1"] .raiting__item:nth-child(n+5),
	&[data-total-value="2"] .raiting__item:nth-child(n+4),
	&[data-total-value="3"] .raiting__item:nth-child(n+3),
	&[data-total-value="4"] .raiting__item:nth-child(n+1),
	&[data-total-value="5"] .raiting__item:nth-child(n+0) {
		color: #FFD806;
	}


	&__item {
		color: #DFDFDF;
		cursor: pointer;
		transition: 0.3s;
		width: 32px;
		height: 32px;
		font-size: 36px;
		line-height: 1;

		@media(min-width: 1024px) {
			font-size: 40px;
			width: 36px;
			height: 36px;
			line-height: 0.9;
		}

		&:hover {
			color: #FFD806;

			~.raiting__item {
				color: #FFD806;
			}
		}

		&--error {
			color: #FFF5F5;
			-webkit-text-stroke: 1px #F93232;
		}
	}
}



.form {
	&__control {}

	&__input {}
}

.review {
	&__agreement {
		font-size: 14px;
		font-weight: 300;
		color: #8C8C8C;
		margin: 0;

		@media(min-width: 1024px) {
			font-size: 16px;
		}

		&--active {
			color: #4AAB3C;
		}
	}
}
