.service {
	&__form {


		@media(min-width: 1024px) {
			display: flex;
		justify-content: space-between;
		}
	}

	&__phone {
		background: #fff;
		border: 1px solid $accent;
		@media(min-width: 1024px) {
			padding-right: 60px;
			width: 200px;
		}

		&-wrapper {
			&--active {
				&::after {
				content: url('../img/icons/consult-phone-active.svg');
			}
			}


			.is-invalid {
		background: #fff5f5;
    border: 1px solid #ffd8d8;
	}

			@media(min-width: 1024px) {
					margin-right: 33px;
				}
		}
	}

	&__button {

		overflow-y: hidden;
		@media(min-width: 1024px) {
			width: 282px;
			height: 51px;
			margin-bottom: 0;
		}
		margin-bottom: 40px;
	}

	&__table {
		width: auto;
		margin: 0;
		background: #fff;
	}
}
