.success {
	&__title {
		margin-top: 0;
		margin-bottom: 24px;
		font-size: 30px;
		font-weight: 700;
	}

	&__text {
		margin-top: 0;
		margin-bottom: 45px;
		font-size: 18px;
	}

	&__img {

	}

	&__button {
		width: 100%;
	}
}
