.disable-scroll {
	position: relative;
	overflow: hidden;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}

.graph-modal {
	--transition-time: 0.3s;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
	background-color: rgba(0,0,0,.7);
	cursor: pointer;
	overflow-y: auto;
	overflow-x: hidden;
	text-align: center;
	opacity: 0;
	visibility: hidden;
	transition: opacity var(--transition-time),visibility var(--transition-time);
}

.graph-modal:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

.graph-modal__container {
	position: relative;
	width: 1000px;
	margin: auto auto;
	display: inline-block;
	vertical-align: middle;
	background-color: #fff;
	border-radius: 0px;
	padding: 0px;
	cursor: default;
	text-align: left;
	display: none;

	&--order-call {
		width: auto;
    padding-top: 50px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    border-radius: 20px;
    margin-right: 16px;
    margin-left: 16px;

    .graph-modal__content {
    	margin-top: 29px;
    }

    .graph-modal__close {
    	top: 12px;
    	right: 12px;
    }
	}

	&--success {
		width: auto;
		padding-top: 75px;
		padding-bottom: 75px;
		padding-left: 25px;
		padding-right: 25px;
    	text-align: center;
    	border-radius: 20px;
    	margin-left: 16px;
    	margin-right: 16px;

    	.graph-modal__content {
    		margin-top: 29px;
    	}

    	@media(min-width: 510px) {
    		padding-left: 100px;
    		padding-right: 100px;
    	}

    	@media(min-width: 768px) {
    		padding-left: 130px;
    		padding-right: 130px;
    	}

    .graph-modal__close {
    	top: 20px;
    	right: 15px;
    }
	}
}

.graph-modal__close {
	position: absolute;
	right: 10px;
	top: 10px;
	border: none;
	padding: 0;
	width: 12px;
	overflow: visible;
	height: 12px;
	background-color: transparent;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' viewBox='0 0 512.001 512.001' style='enable-background:new 0 0 512.001 512.001;' xml:space='preserve' fill='%23fff'%3E%3Cg%3E%3Cg%3E%3Cpath d='M284.286,256.002L506.143,34.144c7.811-7.811,7.811-20.475,0-28.285c-7.811-7.81-20.475-7.811-28.285,0L256,227.717 L34.143,5.859c-7.811-7.811-20.475-7.811-28.285,0c-7.81,7.811-7.811,20.475,0,28.285l221.857,221.857L5.858,477.859 c-7.811,7.811-7.811,20.475,0,28.285c3.905,3.905,9.024,5.857,14.143,5.857c5.119,0,10.237-1.952,14.143-5.857L256,284.287 l221.857,221.857c3.905,3.905,9.024,5.857,14.143,5.857s10.237-1.952,14.143-5.857c7.811-7.811,7.811-20.475,0-28.285 L284.286,256.002z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	cursor: pointer;
	z-index: 2;
	background-color: rgb(204, 204, 204);
	border-radius: 30%;
	padding: 15px;
	background-repeat: no-repeat;
	background-position: 9px 9px;
	background-size: 12px;

	path {
		fill: #fff;
	}

	&--gallery {
		width: 24px;
		height: 24px;
		background-position: 4px 4px;
		background-size: 24px;
		background-image: url("../img/icons/popup-close.svg");
	}
}

.graph-modal.is-open {
	opacity: 1;
	visibility: visible;
	transition: opacity var(--transition-time),visibility var(--transition-time);
}

.graph-modal__container.graph-modal-open {
	display: inline-block;
}

.fade {
	opacity: 0;
}

.fade,.fade.animate-open {
	transition: opacity var(--transition-time);
}

.fade.animate-open {
	opacity: 1;
}

.fadeInUp {
	opacity: 0;
	transform: translateY(-100px);
}

.fadeInUp,.fadeInUp.animate-open {
	transition: transform var(--transition-time),opacity var(--transition-time);
}

.fadeInUp.animate-open {
	opacity: 1;
	transform: translateY(0);
}
