.disable-scroll {
	position: relative;
	overflow: hidden;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}

.graph-modal {
	--transition-time: 0.3s;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
	background-color: rgba(0,0,0,.7);
	cursor: pointer;
	overflow-y: auto;
	overflow-x: hidden;
	text-align: center;
	opacity: 0;
	visibility: hidden;
	transition: opacity var(--transition-time),visibility var(--transition-time);
}

.graph-modal:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

.graph-modal__container {
	position: relative;
	width: 1000px;
	margin: auto auto;
	display: inline-block;
	vertical-align: middle;
	background-color: #fff;
	border-radius: 0px;
	padding: 0px;
	cursor: default;
	text-align: left;
	display: none;

	&--order-call {
		width: auto;
    padding-top: 50px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    border-radius: 3px;

    .graph-modal__close {
    	top: 20px;
    	right: 15px;
    }
	}

	&--success {
		width: auto;
		padding-top: 50px;
    	padding-left: 25px;
    	padding-right: 25px;
    	padding-bottom: 25px;
    	text-align: center;
    	border-radius: 5px;

    .graph-modal__close {
    	top: 20px;
    	right: 15px;
    }
	}
}

@media (max-width:1024px) {
	.graph-modal__container {
		width: 90%;
	}
}

.graph-modal__close {
	position: absolute;
	right: 10px;
	top: 10px;
	border: none;
	padding: 0;
	width: 24px;
	overflow: visible;
	height: 24px;
	background-color: transparent;
	background-image: url("../img/icons/popup-close.svg");
	cursor: pointer;
	z-index: 2;
}

.graph-modal.is-open {
	opacity: 1;
	visibility: visible;
	transition: opacity var(--transition-time),visibility var(--transition-time);
}

.graph-modal__container.graph-modal-open {
	display: inline-block;
}

.fade {
	opacity: 0;
}

.fade,.fade.animate-open {
	transition: opacity var(--transition-time);
}

.fade.animate-open {
	opacity: 1;
}

.fadeInUp {
	opacity: 0;
	transform: translateY(-100px);
}

.fadeInUp,.fadeInUp.animate-open {
	transition: transform var(--transition-time),opacity var(--transition-time);
}

.fadeInUp.animate-open {
	opacity: 1;
	transform: translateY(0);
}
